body {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100vw;
  height: 100vh;

  background: #f2ebe3;
}

.product-container {
  display: flex;
  position: relative;
  width: 343px;
  height: 611px;

  background: rgba(240, 0, 0, 0.1);
  border-radius: 10px;
}

.product-image {
  position: absolute;
  width: 343px;
  height: 240px;
  left: 0px;
  top: 0px;

  background: url(image-product-desktop.jpg);
  border-radius: 10px 10px 0px 0px;
}

.product-info-container {
  position: absolute;
  width: 343px;
  height: 371px;
  left: 0px;
  top: 240px;

  background: #ffffff;
  border-radius: 0px 0px 10px 10px;
}

.product-category {
  position: absolute;
  width: 93px;
  height: 15px;
  left: 23px;
  top: 24px;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height */

  text-align: center;
  letter-spacing: 0.42em;

  color: #1e1e1e;
}

.product-name {
  position: absolute;
  width: 276px;
  height: 64px;
  left: 24px;
  top: 52px;

  font-family: "Fraunces";
  font-style: normal;
  font-weight: 700;
  font-size: 31px;
  line-height: 104.3%;
  /* or 32px */

  letter-spacing: 0.015em;

  color: #1c232b;
}

.product-description {
  position: absolute;
  width: 298px;
  height: 86px;
  left: 24px;
  top: 134px;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.01em;

  color: #1c232b;
}

.product-price {
  position: absolute;
  width: 127px;
  height: 39px;
  left: 25px;
  top: 244px;

  font-family: "Fraunces";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;

  color: #3c8067;
}

.product-original-price {
  position: absolute;
  width: 48px;
  height: 15px;
  left: 170px;
  top: 256px;

  font-family: "Fraunces";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height */

  text-decoration-line: line-through;

  color: #6c7289;
}

.product-add-to-cart-button {
  border: none;
  margin: 0;
  padding: 0;
  text-align: center;
  text-decoration: none;
  cursor: pointer;

  position: absolute;
  width: 295px;
  height: 48px;
  left: 25px;
  top: 299px;

  background: #3c8067;
  border-radius: 10px;
  color: #ffffff;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;

  color: #ffffff;
}
